<ion-header>
  <ion-toolbar>
    <ion-title>Weather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Enter Zip Code</ion-label>
    <ion-input [(ngModel)]="zipCode"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="getWeatherData()">Get Weather Data</ion-button>

  <ion-card *ngIf="weatherData">
    <ion-card-header>
      <ion-card-title>{{ weatherData.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Weather long: {{weatherData.coord.lon}}</p>
      <p>Weather lat: {{weatherData.coord.lat}}</p>
      <p>Temperature: {{ weatherData.main.temp }}°F</p>
      <p>Humidity: {{ weatherData.main.humidity }}%</p>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label>How hydrated do you feel?</ion-label>
    <ion-range min="0" max="10" step="1" [(ngModel)]="hydrationValue" (ionChange)="onHydrationChange($event)">
      <ion-icon size="small" slot="start" name="water-outline"></ion-icon>
      <ion-icon slot="end" name="water"></ion-icon>
    </ion-range>
  </ion-item>
  <ion-item>
    <ion-label>Your hydration level: {{hydrationValue}}</ion-label>
  </ion-item>
</ion-content>
