<!-- <ion-header>
  <ion-toolbar>
    <ion-title>personalData</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<!-- <ion-breadcrumbs>
  <ion-breadcrumb href="menu">Menu</ion-breadcrumb>
  <ion-breadcrumb href="personal-data">PersonalData</ion-breadcrumb>
</ion-breadcrumbs> -->
<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Personal Data</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Personal Data</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list [inset]="true">
    <ion-segment value="buttons">
      <ion-segment-button (click)="saveGenderMale()" value="male">
        <ion-label>Male</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="saveGenderFemale()" value="female">
        <ion-label>Female</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-item color="light">
      <ion-label>Weight (lb):</ion-label>
      <ion-input type="number" [(ngModel)]="usrWeight" placeholder="Ex: 135"></ion-input>
    </ion-item>
  
    <ion-item color="light">
      <ion-label>Age (yrs):</ion-label>
      <ion-input type="number" [(ngModel)]="usrAge" placeholder="Ex: 25"></ion-input>
    </ion-item>
  
    <ion-item color="light">
      <ion-label>Height (in):</ion-label>
      <ion-input type="number" [(ngModel)]="usrHeight" placeholder="Ex: 65"></ion-input>
    </ion-item>

    <ion-button full (click)="savePersonalInfo()">Save</ion-button>
    
  </ion-list>

</ion-content>