<ion-header>
    <ion-toolbar>
        <ion-title>Enter Your Info</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="confirm()">Save</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <h5 class="ion-padding-horizontal">Before we start, let's know more about you!</h5>

    <ion-item color="light">
        <ion-label position="stacked">What's your name?</ion-label>
        <ion-input type="string" [(ngModel)]="profiledata.varName"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">What's your gender?</ion-label>
        <ion-select interface="popover" [(ngModel)]="profiledata.varGender" placeholder="Select">
            <ion-select-option>Male</ion-select-option>
            <ion-select-option>Female</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item color="light">
        <ion-label position="stacked">How old are you?</ion-label>
        <ion-input type="number" [(ngModel)]="profiledata.varAge" placeholder="..years old"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">How tall are you?</ion-label>
        <ion-input type="number" [(ngModel)]="profiledata.varHeight" placeholder="..inches"></ion-input>
    </ion-item>

    <ion-item color="light">
        <ion-label position="stacked">How much do you weigh?</ion-label>
        <ion-input type="number" [(ngModel)]="profiledata.varWeight" placeholder="..pounds"></ion-input>
    </ion-item>

    <h5 class="ion-padding-horizontal">For each day...</h5>

    <ion-item color="light">
        <ion-label position="stacked">How many steps do you try to reach?</ion-label>
        <ion-input type="number" [(ngModel)]="profiledata.varStepsGoal" placeholder="..steps"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">How many kilometers do you try to reach? (Walking or Running)</ion-label>
        <ion-input type="number" [(ngModel)]="profiledata.varDistanceGoal" placeholder="..kilometers"></ion-input>
    </ion-item>

    <ion-item color="light">
        <ion-label position="stacked">How many calories do you try to burn?</ion-label>
        <ion-input type="number" [(ngModel)]="profiledata.varNrgBurnedGoal" placeholder="..calories"></ion-input>
    </ion-item>

    <h5 class="ion-padding-horizontal">We need your area's weather condition!</h5>

    <ion-item color="light">
        <ion-label position="stacked">What's your ZIP Code?</ion-label>
        <ion-input type="number" [(ngModel)]="profiledata.varZIPCode"></ion-input>
    </ion-item>

</ion-content>