<ion-header>
    <ion-toolbar>
        <ion-title>Enter Your Info</ion-title>
        <ion-buttons slot="end">
        <ion-button (click)="confirm()">Save</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p class="ion-text-center">Let's get to know more about you!</p>
    
    <ion-item color="light">
        <ion-label position="stacked">What's your name?</ion-label>
        <ion-input type="string" [(ngModel)]="profile.classReference.usrName"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">What's your gender?</ion-label>
        <ion-select interface="popover" [(ngModel)]="profile.classReference.usrGender" placeholder="Select">
            <ion-select-option>Male</ion-select-option>
            <ion-select-option>Female</ion-select-option>
          </ion-select>
    </ion-item>

    <ion-item color="light">
        <ion-label position="stacked">How old are you?</ion-label>
        <ion-input type="number" [(ngModel)]="profile.classReference.usrAge" placeholder="..years old"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">How tall are you?</ion-label>
        <ion-input type="number" [(ngModel)]="profile.classReference.usrHeight" placeholder="..inches"></ion-input>
    </ion-item>

    <ion-item color="light">
        <ion-label position="stacked">How much do you weigh?</ion-label>
        <ion-input type="number" [(ngModel)]="profile.classReference.usrWeight" placeholder="..pounds"></ion-input>
    </ion-item>
</ion-content>