<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Hi, there</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <!-- <ion-list routerLink="./personal-data">
    <ion-item>
      <ion-icon name="personalData" slot="start"></ion-icon>
      <ion-label>Personal Data</ion-label>
    </ion-item>
        
  </ion-list> -->
  <!-- <ion-content class="ion-padding">This is the menu content.</ion-content> -->
  <!-- </ion-menu> -->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Hi {{profileDataReference.userName}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      Tap the button in the toolbar to open the menu.
    </ion-content>
  </div>

</ion-content>

<!-- <ion-app>

  <ion-menu contentId="main-content"> 
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-list routerLink="/personalData">
      <ion-item>
        <ion-icon name="personalData" slot="start"></ion-icon>
        <ion-label>Personal Data</ion-label>
      </ion-item>
          
    </ion-list>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Main</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      Tap the button in the toolbar to open the menu.
    </ion-content>
  </div>
</ion-app> -->