<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Hi, there</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <!-- <ion-list routerLink="./personal-data">
    <ion-item>
      <ion-icon name="personalData" slot="start"></ion-icon>
      <ion-label>Personal Data</ion-label>
    </ion-item>
        
  </ion-list> -->
  <!-- <ion-content class="ion-padding">This is the menu content.</ion-content> -->
  <!-- </ion-menu> -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Hi {{profiledata.userName}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle><h3>Today's recommended amount of water:</h3></ion-card-subtitle>
        <ion-card-title>{{profiledata.waterAmount}} mL</ion-card-title>
      </ion-card-header>
    </ion-card>

    <h3 class="ion-padding" style="text-align:center">When waking up on a new day, enter the information below...</h3>

    <h5 class="ion-padding" style="text-align:center">How hydrated did you feel from drinking the amount we recommended?</h5>
    <ion-range [ticks]="true" [snaps]="true" min="0" max="10" step="1" [(ngModel)]="profiledata.hydrationScore">
      <ion-label slot="start"><small>TOO LITTLE</small></ion-label>
      <ion-label slot="end"><small>TOO MUCH</small></ion-label>
    </ion-range>
    <ion-item>
      <ion-label>Your hydration level: {{profiledata.hydrationScore}}</ion-label>
    </ion-item>

    &nbsp;
    <ion-item>
      <ion-label>Body Water Content:</ion-label>
      <ion-input type="number" [(ngModel)]="profiledata.bodyWaterContent" placeholder="...%"></ion-input>
    </ion-item>

    &nbsp;
    <ion-button class="ion-padding-horizontal" expand="block" (click)="recommendWater()">Get Today's Water Amount</ion-button>

  </ion-content>

</ion-content>

<!-- <ion-app>

  <ion-menu contentId="main-content"> 
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-list routerLink="/personalData">
      <ion-item>
        <ion-icon name="personalData" slot="start"></ion-icon>
        <ion-label>Personal Data</ion-label>
      </ion-item>
          
    </ion-list>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Main</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      Tap the button in the toolbar to open the menu.
    </ion-content>
  </div>
</ion-app> -->