<!-- <ion-header>
  <ion-toolbar>
    <ion-title>personalData</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<!-- <ion-breadcrumbs>
  <ion-breadcrumb href="menu">Menu</ion-breadcrumb>
  <ion-breadcrumb href="personal-data">PersonalData</ion-breadcrumb>
</ion-breadcrumbs> -->
<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Personal Data</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>{{profiledata.userName}}'s Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list [inset]="true">
    <ion-segment value="{{profiledata.varGender}}">
      <ion-segment-button value="Male" (click)="saveGender('Male')">
        <ion-label>Male</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Female" (click)="saveGender('Female')">
        <ion-label>Female</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-item color="light">
      <ion-label>Name:</ion-label>
      <ion-input class="ion-text-right" type="string" [(ngModel)]="profiledata.varName"></ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-label>Age (yrs):</ion-label>
      <ion-input class="ion-text-right" type="number" [(ngModel)]="profiledata.varAge"
        placeholder="..years old"></ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-label>Height (in):</ion-label>
      <ion-input class="ion-text-right" type="number" [(ngModel)]="profiledata.varHeight"
        placeholder="..inches"></ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-label>Weight (lbs):</ion-label>
      <ion-input class="ion-text-right" type="number" [(ngModel)]="profiledata.varWeight"
        placeholder="..pounds"></ion-input>
    </ion-item>

    <ion-item color="secondary">
      <ion-label>Steps Goal:</ion-label>
      <ion-input class="ion-text-right" type="number" [(ngModel)]="profiledata.varStepsGoal"
        placeholder="..steps"></ion-input>
    </ion-item>

    <ion-item color="secondary">
      <ion-label>Distance Goal (km):</ion-label>
      <ion-input class="ion-text-right" type="number" [(ngModel)]="profiledata.varDistanceGoal"
        placeholder="..kilometers"></ion-input>
    </ion-item>

    <ion-item color="secondary">
      <ion-label>Burn Goal (cal):</ion-label>
      <ion-input class="ion-text-right" type="number" [(ngModel)]="profiledata.varNrgBurnedGoal"
        placeholder="..calories"></ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-label>ZIP Code:</ion-label>
      <ion-input class="ion-text-right" type="number" [(ngModel)]="profiledata.varZIPCode"
        placeholder="..calories"></ion-input>
    </ion-item>

    &nbsp;
    <ion-button expand="block" (click)="savePersonalInfo()">Save</ion-button>

    <ion-card>Total Water Drank:</ion-card>
    <ion-card>Goals Reached:</ion-card>
    <!-- Goals reached for each category, sort by most -->

    <!-- Use save button to update static members instead of using a profileReference; retrieve values from inputs and modify the static members inside the component class with the function -->

  </ion-list>

</ion-content>