<ion-app>
  <ion-router-outlet>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="menu">
          <ion-icon name="home"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button tab="water">
          <ion-icon name="water"></ion-icon>
          Water
        </ion-tab-button>
        <ion-tab-button tab="calendar">
          <ion-icon name="calendar"></ion-icon>
          Calendar
        </ion-tab-button>
        <ion-tab-button tab="profile">
          <ion-icon name="people"></ion-icon>
          Profile
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-router-outlet>
</ion-app>